$primary-bkg: rgb(196, 227, 233);
$secondary-bkg: #01A1B7;
$third-bkg: #017788;
$main-foreground: white;
$dashboard-header-primary: #656666; 
$dashboard-header-secondary: #8A8889;
$box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
$box-shadow-secondary: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
$navbar-height: 60px;
$navbar-foreground: white;
$letter-border-color: #017788;
$letter-hover-background: #EB7100;
$letter-hover-foreground: white;
$sub-bg: #8A8889;

